# Python
__pycache__/
*.py[cod]
*.so

# Virtual Environment
.venv/

# Environment
.env
Other/
# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Coverage
.coverage
htmlcov/

# Pytest
.pytest_cache/

# Ruff
.ruff_cache/

# Mypy
.mypy_cache/

# Vector DB
data/vectorstore/

# Chroma
chroma/

# Misc
*.sqlite3

